server:
  port: 3000
spring:
  kafka:
    bootstrap-servers: localhost:29092
  jpa:
    hibernate:
      ddl-auto: update
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    url: jdbc:postgresql://${DB_HOST:? DB_HOST is missing}:${DB_PORT:? DB_PORT is missing}/${DB_NAME:? DB_NAME is missing}
    username: ${DB_USERNAME:? DB_USERNAME is missing}
    password: ${DB_PASSWORD:? DB_PASSWORD is missing}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2